.dx-overlay-content,
.dx-drawer-panel-content,
.dx-drawer-panel {
  direction: ltr !important;
}
/* Default (non-right) */
.dx-checkbox-icon::before {
  left: 0%; /* Default value */
}

/* When Right is true */
.right-checked .dx-checkbox-icon::before {
  left: 50% !important;
}
