@import "./themes/generated/variables.base.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-color: $base-accent;
  --main-color2: #ff5722;
}
@layer base {
  .h2 {
    @apply text-3xl capitalize;
  }
  .grad {
    @apply bg-gradient-to-t from-[#1F2126] to-[#33363D] drop-shadow-2xl;
  }
  .btn {
    @apply h-[50px] flex justify-center items-center rounded-[8px] px-10 py-[10px] text-sm uppercase font-bold;
  }
  .btn-accent {
    @apply bg transition-all;
  }
  .input {
    @apply h-[50px] rounded-[8px] w-full outline-none px-6;
  }
  .pop {
    @apply bg-transparent text-[--main-color] hover:bg-[--main-color] hover:text-black;
  }
  .peer-input {
    @apply bg-transparent placeholder-transparent;
  }
  .peer-label {
    @apply absolute cursor-text left-0 -top-3 text-sm bg-inherit mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-sky-600 peer-focus:text-sm transition-all;
  }
}
.app {
  background-color: darken($base-bg, 5);
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;

  .content {
    line-height: 1.5;
    flex-grow: 1;

    h2 {
      font-size: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .drop-list {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px;
  }

  .container {
    height: 100%;
    flex-direction: column;
    display: flex;
  }

  .layout-body {
    flex: 1;
    min-height: 0;
  }

  .content-block {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
  }
}
.spinner .path {
  stroke: $base-accent;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
.color {
  color: $base-accent;
}
.bg {
  background: $base-accent;
}
.border-color {
  border-color: $base-accent;
}
.border {
  border-color: $base-accent;
}
.dx-scrollbar-hoverable
  .dx-scrollable-scroll.dx-state-invisible
  .dx-scrollable-scroll-content {
  background-color: $base-accent;
  text-align: left;
}
.dx-scrollable-scroll-content {
  position: absolute;
  z-index: 200;
}
.dx-scrollbar-vertical .dx-scrollbar-hoverable {
  width: 20px !important;
  height: 100px !important;
  background-color: $base-accent;
  color: $base-accent;
}

.dx-scrollbar-vertical .dx-scrollable-scroll {
  width: 20px !important;
  height: 100px !important;
}
.btn.btn-link.dx-g-bs4-table-edit-command-cell {
  color: $base-accent !important;
  font-size: 22px;
  font-weight: bold;
}
.side-nav-outer-toolbar .dx-drawer {
  height: calc(100% - 56px);
}

.screen-x-small .content-block {
  margin-left: 20px;
  margin-right: 20px;
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.with-footer
  > .dx-scrollable-wrapper
  > .dx-scrollable-container
  > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

$side-panel-min-width: 60px;

html,
body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}
